html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
.blog-serif{font-family:serif}.blog-sans-serif{font-family:sans-serif}.blog-cursive{font-family:cursive}.blog-monospace{font-family:monospace}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.blog-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.blog-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.blog-table,.blog-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.blog-table-all{border:1px solid #ccc}
.blog-bordered tr,.blog-table-all tr{border-bottom:1px solid #ddd}.blog-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.blog-table-all tr:nth-child(odd){background-color:#fff}.blog-table-all tr:nth-child(even){background-color:#f1f1f1}
.blog-hoverable tbody tr:hover,.blog-ul.blog-hoverable li:hover{background-color:#ccc}.blog-centered tr th,.blog-centered tr td{text-align:center}
.blog-table td,.blog-table th,.blog-table-all td,.blog-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.blog-table th:first-child,.blog-table td:first-child,.blog-table-all th:first-child,.blog-table-all td:first-child{padding-left:16px}
.blog-btn,.blog-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.blog-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.blog-btn,.blog-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.blog-disabled,.blog-btn:disabled,.blog-button:disabled{cursor:not-allowed;opacity:0.3}.blog-disabled *,:disabled *{pointer-events:none}
.blog-btn.blog-disabled:hover,.blog-btn:disabled:hover{box-shadow:none}
.blog-badge,.blog-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.blog-badge{border-radius:50%}
.blog-ul{list-style-type:none;padding:0;margin:0}.blog-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.blog-ul li:last-child{border-bottom:none}
.blog-tooltip,.blog-display-container{position:relative}.blog-tooltip .blog-text{display:none}.blog-tooltip:hover .blog-text{display:inline-block}
.blog-ripple:active{opacity:0.5}.blog-ripple{transition:opacity 0s}
.blog-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.blog-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.blog-dropdown-click,.blog-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.blog-dropdown-hover:hover .blog-dropdown-content{display:block}
.blog-dropdown-hover:first-child,.blog-dropdown-click:hover{background-color:#ccc;color:#000}
.blog-dropdown-hover:hover > .blog-button:first-child,.blog-dropdown-click:hover > .blog-button:first-child{background-color:#ccc;color:#000}
.blog-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.blog-check,.blog-radio{width:24px;height:24px;position:relative;top:6px}
.blog-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.blog-bar-block .blog-dropdown-hover,.blog-bar-block .blog-dropdown-click{width:100%}
.blog-bar-block .blog-dropdown-hover .blog-dropdown-content,.blog-bar-block .blog-dropdown-click .blog-dropdown-content{min-width:100%}
.blog-bar-block .blog-dropdown-hover .blog-button,.blog-bar-block .blog-dropdown-click .blog-button{width:100%;text-align:left;padding:8px 16px}
.blog-main,#main{transition:margin-left .4s}
.blog-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.blog-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.blog-bar{width:100%;overflow:hidden}.blog-center .blog-bar{display:inline-block;width:auto}
.blog-bar .blog-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.blog-bar .blog-dropdown-hover,.blog-bar .blog-dropdown-click{position:static;float:left}
.blog-bar .blog-button{white-space:normal}
.blog-bar-block .blog-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.blog-bar-block.blog-center .blog-bar-item{text-align:center}.blog-block{display:block;width:100%}
.blog-responsive{display:block;overflow-x:auto}
.blog-container:after,.blog-container:before,.blog-panel:after,.blog-panel:before,.blog-row:after,.blog-row:before,.blog-row-padding:after,.blog-row-padding:before,
.blog-cell-row:before,.blog-cell-row:after,.blog-clear:after,.blog-clear:before,.blog-bar:before,.blog-bar:after{content:"";display:table;clear:both}
.blog-col,.blog-half,.blog-third,.blog-twothird,.blog-threequarter,.blog-quarter{float:left;width:100%}
.blog-col.s1{width:8.33333%}.blog-col.s2{width:16.66666%}.blog-col.s3{width:24.99999%}.blog-col.s4{width:33.33333%}
.blog-col.s5{width:41.66666%}.blog-col.s6{width:49.99999%}.blog-col.s7{width:58.33333%}.blog-col.s8{width:66.66666%}
.blog-col.s9{width:74.99999%}.blog-col.s10{width:83.33333%}.blog-col.s11{width:91.66666%}.blog-col.s12{width:99.99999%}
@media (min-width:601px){.blog-col.m1{width:8.33333%}.blog-col.m2{width:16.66666%}.blog-col.m3,.blog-quarter{width:24.99999%}.blog-col.m4,.blog-third{width:33.33333%}
.blog-col.m5{width:41.66666%}.blog-col.m6,.blog-half{width:49.99999%}.blog-col.m7{width:58.33333%}.blog-col.m8,.blog-twothird{width:66.66666%}
.blog-col.m9,.blog-threequarter{width:74.99999%}.blog-col.m10{width:83.33333%}.blog-col.m11{width:91.66666%}.blog-col.m12{width:99.99999%}}
@media (min-width:993px){.blog-col.l1{width:8.33333%}.blog-col.l2{width:16.66666%}.blog-col.l3{width:24.99999%}.blog-col.l4{width:33.33333%}
.blog-col.l5{width:41.66666%}.blog-col.l6{width:49.99999%}.blog-col.l7{width:58.33333%}.blog-col.l8{width:66.66666%}
.blog-col.l9{width:74.99999%}.blog-col.l10{width:83.33333%}.blog-col.l11{width:91.66666%}.blog-col.l12{width:99.99999%}}
.blog-rest{overflow:hidden}.blog-stretch{margin-left:-16px;margin-right:-16px}
.blog-content,.blog-auto{margin-left:auto;margin-right:auto}.blog-content{max-width:980px}.blog-auto{max-width:1140px}
.blog-cell-row{display:table;width:100%}.blog-cell{display:table-cell}
.blog-cell-top{vertical-align:top}.blog-cell-middle{vertical-align:middle}.blog-cell-bottom{vertical-align:bottom}
.blog-hide{display:none!important}.blog-show-block,.blog-show{display:block!important}.blog-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.blog-auto{max-width:95%}}
@media (max-width:600px){.blog-modal-content{margin:0 10px;width:auto!important}.blog-modal{padding-top:30px}
.blog-dropdown-hover.blog-mobile .blog-dropdown-content,.blog-dropdown-click.blog-mobile .blog-dropdown-content{position:relative}
.blog-hide-small{display:none!important}.blog-mobile{display:block;width:100%!important}.blog-bar-item.blog-mobile,.blog-dropdown-hover.blog-mobile,.blog-dropdown-click.blog-mobile{text-align:center}
.blog-dropdown-hover.blog-mobile,.blog-dropdown-hover.blog-mobile .blog-btn,.blog-dropdown-hover.blog-mobile .blog-button,.blog-dropdown-click.blog-mobile,.blog-dropdown-click.blog-mobile .blog-btn,.blog-dropdown-click.blog-mobile .blog-button{width:100%}}
@media (max-width:768px){.blog-modal-content{width:500px}.blog-modal{padding-top:50px}}
@media (min-width:993px){.blog-modal-content{width:900px}.blog-hide-large{display:none!important}.blog-sidebar.blog-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.blog-hide-medium{display:none!important}}
@media (max-width:992px){.blog-sidebar.blog-collapse{display:none}.blog-main{margin-left:0!important;margin-right:0!important}.blog-auto{max-width:100%}}
.blog-top,.blog-bottom{position:fixed;width:100%;z-index:1}.blog-top{top:0}.blog-bottom{bottom:0}
.blog-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.blog-display-topleft{position:absolute;left:0;top:0}.blog-display-topright{position:absolute;right:0;top:0}
.blog-display-bottomleft{position:absolute;left:0;bottom:0}.blog-display-bottomright{position:absolute;right:0;bottom:0}
.blog-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.blog-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.blog-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.blog-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.blog-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.blog-display-container:hover .blog-display-hover{display:block}.blog-display-container:hover span.blog-display-hover{display:inline-block}.blog-display-hover{display:none}
.blog-display-position{position:absolute}
.blog-circle{border-radius:50%}
.blog-round-small{border-radius:2px}.blog-round,.blog-round-medium{border-radius:4px}.blog-round-large{border-radius:8px}.blog-round-xlarge{border-radius:16px}.blog-round-xxlarge{border-radius:32px}
.blog-row-padding,.blog-row-padding>.blog-half,.blog-row-padding>.blog-third,.blog-row-padding>.blog-twothird,.blog-row-padding>.blog-threequarter,.blog-row-padding>.blog-quarter,.blog-row-padding>.blog-col{padding:0 8px}
.blog-container,.blog-panel{padding:0.01em 16px}.blog-panel{margin-top:16px;margin-bottom:16px}
.blog-code,.blog-codespan{font-family:Consolas,"courier new";font-size:16px}
.blog-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.blog-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.blog-card,.blog-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.blog-card-4,.blog-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.blog-spin{animation:blog-spin 2s infinite linear}@keyframes blog-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.blog-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.blog-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.blog-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.blog-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.blog-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.blog-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.blog-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.blog-animate-input{transition:width 0.4s ease-in-out}.blog-animate-input:focus{width:100%!important}
.blog-opacity,.blog-hover-opacity:hover{opacity:0.60}.blog-opacity-off,.blog-hover-opacity-off:hover{opacity:1}
.blog-opacity-max{opacity:0.25}.blog-opacity-min{opacity:0.75}
.blog-greyscale-max,.blog-grayscale-max,.blog-hover-greyscale:hover,.blog-hover-grayscale:hover{filter:grayscale(100%)}
.blog-greyscale,.blog-grayscale{filter:grayscale(75%)}.blog-greyscale-min,.blog-grayscale-min{filter:grayscale(50%)}
.blog-sepia{filter:sepia(75%)}.blog-sepia-max,.blog-hover-sepia:hover{filter:sepia(100%)}.blog-sepia-min{filter:sepia(50%)}
.blog-tiny{font-size:10px!important}.blog-small{font-size:12px!important}.blog-medium{font-size:15px!important}.blog-large{font-size:18px!important}
.blog-xlarge{font-size:24px!important}.blog-xxlarge{font-size:36px!important}.blog-xxxlarge{font-size:48px!important}.blog-jumbo{font-size:64px!important}
.blog-left-align{text-align:left!important}.blog-right-align{text-align:right!important}.blog-justify{text-align:justify!important}.blog-center{text-align:center!important}
.blog-border-0{border:0!important}.blog-border{border:1px solid #ccc!important}
.blog-border-top{border-top:1px solid #ccc!important}.blog-border-bottom{border-bottom:1px solid #ccc!important}
.blog-border-left{border-left:1px solid #ccc!important}.blog-border-right{border-right:1px solid #ccc!important}
.blog-topbar{border-top:6px solid #ccc!important}.blog-bottombar{border-bottom:6px solid #ccc!important}
.blog-leftbar{border-left:6px solid #ccc!important}.blog-rightbar{border-right:6px solid #ccc!important}
.blog-section,.blog-code{margin-top:16px!important;margin-bottom:16px!important}
.blog-margin{margin:16px!important}.blog-margin-top{margin-top:16px!important}.blog-margin-bottom{margin-bottom:16px!important}
.blog-margin-left{margin-left:16px!important}.blog-margin-right{margin-right:16px!important}
.blog-padding-small{padding:4px 8px!important}.blog-padding{padding:8px 16px!important}.blog-padding-large{padding:12px 24px!important}
.blog-padding-16{padding-top:16px!important;padding-bottom:16px!important}.blog-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.blog-padding-32{padding-top:32px!important;padding-bottom:32px!important}.blog-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.blog-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.blog-padding-top-64{padding-top:64px!important}.blog-padding-top-48{padding-top:48px!important}
.blog-padding-top-32{padding-top:32px!important}.blog-padding-top-24{padding-top:24px!important}
.blog-left{float:left!important}.blog-right{float:right!important}
.blog-button:hover{color:#000!important;background-color:#ccc!important}
.blog-transparent,.blog-hover-none:hover{background-color:transparent!important}
.blog-hover-none:hover{box-shadow:none!important}
/* Colors */
.blog-amber,.blog-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.blog-aqua,.blog-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.blog-blue,.blog-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.blog-light-blue,.blog-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.blog-brown,.blog-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.blog-cyan,.blog-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.blog-blue-grey,.blog-hover-blue-grey:hover,.blog-blue-gray,.blog-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.blog-green,.blog-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.blog-light-green,.blog-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.blog-indigo,.blog-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.blog-khaki,.blog-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.blog-lime,.blog-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.blog-orange,.blog-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.blog-deep-orange,.blog-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.blog-pink,.blog-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.blog-purple,.blog-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.blog-deep-purple,.blog-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.blog-red,.blog-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.blog-sand,.blog-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.blog-teal,.blog-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.blog-yellow,.blog-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.blog-white,.blog-hover-white:hover{color:#000!important;background-color:#fff!important}
.blog-black,.blog-hover-black:hover{color:#fff!important;background-color:#000!important}
.blog-grey,.blog-hover-grey:hover,.blog-gray,.blog-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.blog-light-grey,.blog-hover-light-grey:hover,.blog-light-gray,.blog-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.blog-dark-grey,.blog-hover-dark-grey:hover,.blog-dark-gray,.blog-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.blog-pale-red,.blog-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.blog-pale-green,.blog-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.blog-pale-yellow,.blog-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.blog-pale-blue,.blog-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.blog-text-amber,.blog-hover-text-amber:hover{color:#ffc107!important}
.blog-text-aqua,.blog-hover-text-aqua:hover{color:#00ffff!important}
.blog-text-blue,.blog-hover-text-blue:hover{color:#2196F3!important}
.blog-text-light-blue,.blog-hover-text-light-blue:hover{color:#87CEEB!important}
.blog-text-brown,.blog-hover-text-brown:hover{color:#795548!important}
.blog-text-cyan,.blog-hover-text-cyan:hover{color:#00bcd4!important}
.blog-text-blue-grey,.blog-hover-text-blue-grey:hover,.blog-text-blue-gray,.blog-hover-text-blue-gray:hover{color:#607d8b!important}
.blog-text-green,.blog-hover-text-green:hover{color:#4CAF50!important}
.blog-text-light-green,.blog-hover-text-light-green:hover{color:#8bc34a!important}
.blog-text-indigo,.blog-hover-text-indigo:hover{color:#3f51b5!important}
.blog-text-khaki,.blog-hover-text-khaki:hover{color:#b4aa50!important}
.blog-text-lime,.blog-hover-text-lime:hover{color:#cddc39!important}
.blog-text-orange,.blog-hover-text-orange:hover{color:#ff9800!important}
.blog-text-deep-orange,.blog-hover-text-deep-orange:hover{color:#ff5722!important}
.blog-text-pink,.blog-hover-text-pink:hover{color:#e91e63!important}
.blog-text-purple,.blog-hover-text-purple:hover{color:#9c27b0!important}
.blog-text-deep-purple,.blog-hover-text-deep-purple:hover{color:#673ab7!important}
.blog-text-red,.blog-hover-text-red:hover{color:#f44336!important}
.blog-text-sand,.blog-hover-text-sand:hover{color:#fdf5e6!important}
.blog-text-teal,.blog-hover-text-teal:hover{color:#009688!important}
.blog-text-yellow,.blog-hover-text-yellow:hover{color:#d2be0e!important}
.blog-text-white,.blog-hover-text-white:hover{color:#fff!important}
.blog-text-black,.blog-hover-text-black:hover{color:#000!important}
.blog-text-grey,.blog-hover-text-grey:hover,.blog-text-gray,.blog-hover-text-gray:hover{color:#757575!important}
.blog-text-light-grey,.blog-hover-text-light-grey:hover,.blog-text-light-gray,.blog-hover-text-light-gray:hover{color:#f1f1f1!important}
.blog-text-dark-grey,.blog-hover-text-dark-grey:hover,.blog-text-dark-gray,.blog-hover-text-dark-gray:hover{color:#3a3a3a!important}
.blog-border-amber,.blog-hover-border-amber:hover{border-color:#ffc107!important}
.blog-border-aqua,.blog-hover-border-aqua:hover{border-color:#00ffff!important}
.blog-border-blue,.blog-hover-border-blue:hover{border-color:#2196F3!important}
.blog-border-light-blue,.blog-hover-border-light-blue:hover{border-color:#87CEEB!important}
.blog-border-brown,.blog-hover-border-brown:hover{border-color:#795548!important}
.blog-border-cyan,.blog-hover-border-cyan:hover{border-color:#00bcd4!important}
.blog-border-blue-grey,.blog-hover-border-blue-grey:hover,.blog-border-blue-gray,.blog-hover-border-blue-gray:hover{border-color:#607d8b!important}
.blog-border-green,.blog-hover-border-green:hover{border-color:#4CAF50!important}
.blog-border-light-green,.blog-hover-border-light-green:hover{border-color:#8bc34a!important}
.blog-border-indigo,.blog-hover-border-indigo:hover{border-color:#3f51b5!important}
.blog-border-khaki,.blog-hover-border-khaki:hover{border-color:#f0e68c!important}
.blog-border-lime,.blog-hover-border-lime:hover{border-color:#cddc39!important}
.blog-border-orange,.blog-hover-border-orange:hover{border-color:#ff9800!important}
.blog-border-deep-orange,.blog-hover-border-deep-orange:hover{border-color:#ff5722!important}
.blog-border-pink,.blog-hover-border-pink:hover{border-color:#e91e63!important}
.blog-border-purple,.blog-hover-border-purple:hover{border-color:#9c27b0!important}
.blog-border-deep-purple,.blog-hover-border-deep-purple:hover{border-color:#673ab7!important}
.blog-border-red,.blog-hover-border-red:hover{border-color:#f44336!important}
.blog-border-sand,.blog-hover-border-sand:hover{border-color:#fdf5e6!important}
.blog-border-teal,.blog-hover-border-teal:hover{border-color:#009688!important}
.blog-border-yellow,.blog-hover-border-yellow:hover{border-color:#ffeb3b!important}
.blog-border-white,.blog-hover-border-white:hover{border-color:#fff!important}
.blog-border-black,.blog-hover-border-black:hover{border-color:#000!important}
.blog-border-grey,.blog-hover-border-grey:hover,.blog-border-gray,.blog-hover-border-gray:hover{border-color:#9e9e9e!important}
.blog-border-light-grey,.blog-hover-border-light-grey:hover,.blog-border-light-gray,.blog-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.blog-border-dark-grey,.blog-hover-border-dark-grey:hover,.blog-border-dark-gray,.blog-hover-border-dark-gray:hover{border-color:#616161!important}
.blog-border-pale-red,.blog-hover-border-pale-red:hover{border-color:#ffe7e7!important}.blog-border-pale-green,.blog-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.blog-border-pale-yellow,.blog-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.blog-border-pale-blue,.blog-hover-border-pale-blue:hover{border-color:#e7ffff!important}
